# Node.js
/node_modules

# Visual Studio / Rider
.idea/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]uild/
[Bb]in/
[Oo]bj/

# Database files
*.db
*.db-journal

# Secrets
appsettings.Development.json

# Rider
*.ReSharper.user